﻿<%@ Master Language="VB" CodeFile="MasterPage_Test.master.vb" Inherits="MasterPage_Test" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>FastGoCash</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i' type='text/css' />
    <link rel="stylesheet" type="text/css" href="../DMT-Manager/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../DMT-Manager/vendor/font-awesome/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="../DMT-Manager/vendor/owl.carousel/assets/owl.carousel.min.css" />
    <link href="DMT-Manager/css/stylesheet.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../DMT-Manager/vendor/bootstrap-select/css/bootstrap-select.css" />
    <link rel="stylesheet" type="text/css" href="../DMT-Manager/vendor/currency-flags/css/currency-flags.min.css" />

    <style>
        #header {
            background: #f6f6f6 !important;
            border-bottom: 1px solid #526681 !important;
        }

        .topBaar {
            background: #526681;
            padding: 4px;
            color: #fff;
            margin-bottom: -8px;
        }

        .logoutbtn {
            background: #ff414d;
            color: #fff;
            padding: 4px 8px 6px 11px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
        <div class="topBaar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <label>Customer Care No: +91-9760443317 </label>
                    </div>
                    <div class="col-sm-6">
                        <label class="pull-right">Support Email : info@fastgocash.com</label>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div id="main-wrapper">
                <header id="header">
                    <div class="container">
                        <div class="header-row">
                            <div class="header-column justify-content-start">
                                <!-- Logo ============================= -->
                                <div class="col-sm-6">
                                    <div class="logo" style="padding: 0px 0px 15px;">
                                        <a class="d-flex" href="/" title="FastGoCash">
                                            <img src="../Images/gallery/logo(ft).png" style="width: 200px;" alt="FastGoCash" /></a>
                                    </div>
                                    <p style="position: absolute; top: 63px; left: 31px; color: #526681; font-family: lucida handwriting">a name for trust and service</p>
                                </div>
                                <div class="col-sm-6">
                                    <nav class="primary-menu navbar navbar-expand-lg" style="float: right;">
                                        <div id="header-nav" class="collapse navbar-collapse">
                                            <ul class="navbar-nav mr-auto">
                                                <li class="dropdown">
                                                    <a href="/">HOME</a>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="about-us.aspx">ABOUT US</a>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="Our-Services.aspx">OUR SERVICES</a>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="/contact-us.aspx">CONTACT Us</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
                <footer id="footer">
                    <div class="container">
                        <div class="row">
                            <%--           <div class="col-lg d-lg-flex align-items-center">
                                <ul class="nav justify-content-center justify-content-lg-start text-3">
                                    <li class="nav-item"><a class="nav-link active" href="#">About Us</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">Support</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">Help</a></li>

                                </ul>
                            </div>--%>

                            <div class="col-lg d-lg-flex align-items-center">
                                <ul class="nav justify-content-center">
                                    <li class="nav-item"><a class="nav-link" href="Term_Conditions.aspx">Terms & Conditions</a></li>
                                    <li class="nav-item"><a class="nav-link" href="Privacy_Policy.aspx">Privacy Policy</a></li>
                                </ul>
                            </div>
                            <div class="col-lg d-lg-flex justify-content-lg-end mt-3 mt-lg-0">
                                <ul class="social-icons justify-content-center">
                                    <li class="social-icons-facebook"><a data-toggle="tooltip" href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                    <li class="social-icons-twitter"><a data-toggle="tooltip" href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                    <li class="social-icons-google"><a data-toggle="tooltip" href="http://www.google.com/" target="_blank" title="Google"><i class="fab fa-google"></i></a></li>
                                    <li class="social-icons-youtube"><a data-toggle="tooltip" href="http://www.youtube.com/" target="_blank" title="Youtube"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-copyright pt-3 pt-lg-2 mt-2">
                            <div class="row">
                                <div class="col-lg">
                                    <p class="text-center text-lg-left mb-2 mb-lg-0">Copyright &copy; 2020 <a href="#">FastGoCash</a>. All Rights Reserved.</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </form>

</body>
<script src="../DMT-Manager/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../DMT-Manager/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="../DMT-Manager/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="../DMT-Manager/vendor/daterangepicker/moment.min.js"></script>
<script src="../DMT-Manager/vendor/daterangepicker/daterangepicker.js"></script>
<script src="DMT-Manager/js/theme.js"></script>
<script>
    $(function () {

        var twoToneButton = document.querySelector('.twoToneButton');

        twoToneButton.addEventListener("click", function () {
            twoToneButton.innerHTML = "Signing In";
            twoToneButton.classList.add('spinning');

            setTimeout(
                function () {
                    twoToneButton.classList.remove('spinning');
                    twoToneButton.innerHTML = "Sign In";

                }, 6000);
        }, false);

    });
</script>
</html>
